//
// starter-angular
// app
//

// $root-background-color: #fff;
// $root-box-sizing: border-box;
// $root-color: #000;
// $root-cursor: default;
// $root-font-family: sans-serif;
// $root-font-size: 100%;
// $root-line-height: 1.5;
// $root-text-rendering: optimizeLegibility;
// $anchor-text-decoration: none;
// $background-repeat: no-repeat;
// $form-element-background-color: transparent;
// $form-element-min-height: 1.5;
// $media-element-vertical-align: middle;
// $monospace-font-family: monospace;
// $nav-list-style: none;
// $selection-background-color: #b3d4fc;
// $selection-color: #fff;
// $selection-text-shadow: none;
// $small-font-size: 75%;
// $table-border-collapse: collapse;
// $table-border-spacing: 0;
// $textarea-resize: vertical;

@import '../../node_modules/sanitize.css/lib/sanitize.scss';
